/* ===========================
   RESPONSIVE – MOBILE
   0px a 767px
=========================== */
@media (max-width: 767px) {

    /* HERO */
    .hero {
        padding: 30px 0;
        height: auto;
    }

    .hero-container {
        grid-template-columns: 1fr;
        /* Cambia a UNA columna */
        text-align: center;
        padding: 0 15px;
        gap: 30px;
        height: auto;
    }

    /* COLUMNA IZQUIERDA */
    .hero-ellipse {
        width: 230px;
        height: 230px;
        margin: 0 auto;
    }

    .hero-ellipse img {
        width: 65%;
    }

    /* COLUMNA DERECHA */
    .hero-right {
        margin-top: 0;
        /* No empujamos nada */
        align-items: center;
        gap: 10px;
    }

    .hero-logo {
        width: 220px;
    }

    .hero-slogan {
        font-size: 22px;
        padding: 0 10px;
    }

    .hero-btn {
        font-size: 16px;
        padding: 10px 20px;
        margin-top: 10px;
        width: auto;
    }

    /* SECCION 2 - DÍAS LLENOS DE PATITAS */
    .seccion-dias {
        padding: 15px 0;
    }

    .seccion-dias-container {
        grid-template-columns: 1fr;
        /* Cambia a UNA columna */
        padding: 0 15px;
        gap: 20px;
        text-align: center;
    }

    /* COLUMNA 1 - TEXTO */
    .dias-texto {
        padding: 35px 15px;
        max-width: 100%;
        margin: 0;
    }

    .dias-texto h2 {
        font-size: 24px;
        margin-bottom: 12px;
    }

    .dias-texto p {
        font-size: 13px;
        line-height: 1.5;
    }

    /* COLUMNA 2 - CARRUSEL */
    .contenedor-carrusel {
        width: 100%;
        gap: 10px;
    }

    .columna-1,
    .columna-2 {
        width: 48%;
        height: 280px;
    }

    .carrusel {
        gap: 6px;
    }

    .carrusel img {
        height: 110px;
    }

    /* SECCION 3 - SOMOS */
    .seccion-somos {
        padding: 15px 0;
    }

    .seccion-somos-container {
        padding: 0 15px;
        gap: 20px;
    }

    .somos-texto p {
        font-size: 18px;
        line-height: 1.6;
    }

    .animales-destacados {
        grid-template-columns: repeat(5, 1fr);
        gap: 10px;
    }

    .animal-card {
        width: 50px;
        height: 50px;
    }

    .acciones-botones {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        max-width: 400px;
    }

    .boton-accion img {
        width: 120px;
    }

    /* SECCION 4 - MISIÓN-VISIÓN */
    .seccion-mision-vision {
        padding: 60px 0;
    }

    .seccion-mision-vision-container {
        max-width: 100%;
        grid-template-columns: 1fr;
        padding: 0 15px;
        gap: 20px;
    }

.mision-texto, .vision-texto {
    padding: 25px 10px;
    max-width: 85%;
    justify-self: center;
}

.mision-texto h2, .vision-texto h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.mision-texto p, .vision-texto p {
    font-size: 12px;
    line-height: 1.3;
}

}
