/* ===========================
   RESPONSIVE – TABLET
   768px a 1199px
=========================== */
@media (max-width: 1024px) {

    /* HERO */
    .hero {
        padding: 40px 0;
        height: auto;
        /* Se adapta al contenido */
    }

    .hero-container {
        max-width: 900px;
        /* Reduce el ancho */
        height: auto;
        /* Evita desbordes */
        padding: 0 20px;
        gap: 20px;
        /* Menos espacio entre columnas */
    }

    /* COLUMNA IZQUIERDA */
    .hero-ellipse {
        width: 330px;
        height: 330px;
    }

    .hero-ellipse img {
        width: 80%;
    }

    /* COLUMNA DERECHA */
    .hero-right {
        margin-top: 0;
        /* Esto evita que se salga */
        gap: 12px;
    }

    .hero-logo {
        width: 260px;
    }

    .hero-slogan {
        font-size: 26px;
    }

    .hero-btn {
        font-size: 16px;
        padding: 10px 22px;
        height: auto;
        margin-top: 10px;
    }

    /* SECCION 2 - DÍAS LLENOS DE PATITAS */
    .seccion-dias {
        padding: 15px 0;
    }

    .seccion-dias-container {
        max-width: 900px;
        padding: 0 20px;
        gap: 20px;
    }

    /* COLUMNA 1 - TEXTO */
    .dias-texto {
        padding: 40px 20px;
        max-width: 280px;
    }

    .dias-texto h2 {
        font-size: 28px;
        margin-bottom: 15px;
    }

    .dias-texto p {
        font-size: 14px;
        line-height: 1.5;
    }

    /* COLUMNA 2 - CARRUSEL */
    .contenedor-carrusel {
        gap: 12px;
    }

    .columna-1,
    .columna-2 {
        width: 48%;
        height: 380px;
    }

    .carrusel {
        gap: 8px;
    }

    .carrusel img {
        height: 150px;
    }

    /* SECCION 3 - SOMOS */
    .seccion-somos {
        padding: 20px 0;
    }

    .seccion-somos-container {
        padding: 0 20px;
        gap: 30px;
    }

    .somos-texto p {
        font-size: 22px;
    }

    .animales-destacados {
        grid-template-columns: repeat(5, 1fr);
        gap: 15px;
    }

    .animal-card {
        width: 60px;
        height: 60px;
    }

    .acciones-botones {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
        max-width: 500px;
    }

    .boton-accion img {
        width: 180px;
    }

    /* SECCION 4 - MISIÓN-VISIÓN */
    .seccion-mision-vision {
        padding: 80px 0;
    }

    .seccion-mision-vision-container {
        max-width: 1100px;
        grid-template-columns: 1fr;
        padding: 0 20px;
        gap: 20px;
    }

.mision-texto, .vision-texto {
    padding: 30px 15px;
    max-width: 350px;
    justify-self: center;
}

.mision-texto h2, .vision-texto h2 {
    font-size: 24px;
    margin-bottom: 12px;
}

.mision-texto p, .vision-texto p {
    font-size: 13px;
    line-height: 1.4;
}

}

